<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>

<body>
  <div id="territories-data" data-object="<%= JSON.stringify(territories) %>"></div>
  <script>
    // Assumption 1: sorted (not necessary though)
    // Assumption 2: every entry should be placed in the list
    // Assumption 3: every entry has a parent in the list(except null)
    const territoriesData = JSON.parse(document.querySelector("#territories-data").getAttribute("data-object"));
    const territoryTree = document.createElement("div");
    const tree = createObjectTree();

    populateElementTree(territoryTree, tree);

    // Returns an object of ids with tree-like structure
    function createObjectTree() {
      // tree key => id; [] => list of child ids
      const tree = {
        null: []
      };
      for (const element of territoriesData) {
        const parentIndex = territoriesData.findIndex(({id}) => id === element.parent);
        // with the assumptions in mind, the only time where parent is missing from the territoriesData is when parent is null
        const parentId = territoriesData[parentIndex]?.id ?? "null";
        const parentChildrenList = getParent(tree, parentId);

        const currentObject = {
          [element.id]: []
        };
        // If Assumption 1, parentChildren will never be null (provided tree has the null key initially)
        parentChildrenList.push(currentObject);
      }

      return tree;
    }

    // returns the parent object value if present; null otherwise
    function getParent(object, id) {
      for (const key in object) {
        if (key === id) {
          return object[key];
        }
        // If list is not empty, navigate through it as well
        if (Array.isArray(object[key]) && object[key].length > 0)
          for (const childObject of object[key]) {
            // Store the result, if not found, try other elements
            const result = getParent(childObject, id);
            if (result) return result;
          }
      }
    }

    // Assumption 1: objectTree is not empty
    function populateElementTree(elementTree, objectTree) {
      // Assumption 2: There is only one object entry
      const [id, children] = Object.entries(objectTree)[0];
      const name = getIdName(id);

      // ul surrounds potential children
      const ul = document.createElement("ul");

      // Create li for surrounding potential span and ul
      const li = document.createElement("li");

      // Create span showing the title if there is at least one child
      if (children.length > 0) {
        const spanTitle = document.createElement("span");
        spanTitle.textContent = name;
        li.append(spanTitle);
      }

      // Only add a text content if the current element doesn't have a child
      else {
        li.textContent = name;
      }

      ul.append(li);
      elementTree.append(ul);

      // Iterate over the object children recursively
      for (const child of children) {
        populateElementTree(li, child);
      }
    }

    function getIdName(territoryId) {
      if (territoryId === "null") return "Philippines";
      output = territoriesData.find(({id}) => id === territoryId);
      return output.name;
    }

    document.body.append(territoryTree);
  </script>
</body>

</html>