<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    body {
      margin: 10px 30px;
    }

    .top-div {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    #root-ul,
    .visible-ul {
      padding: 0;
    }

    ul {
      margin: 0;
      padding-left: 25px;
      list-style-type: none;
    }


    .caret {
      cursor: pointer;
      -webkit-user-select: none;
      /* Safari 3.1+ */
      -moz-user-select: none;
      /* Firefox 2+ */
      -ms-user-select: none;
      /* IE 10+ */
      user-select: none;
    }

    .caret::before {
      content: "\25B6";
      color: black;
      display: inline-block;
      margin-right: 6px;
    }

    .caret-down::before {
      -ms-transform: rotate(90deg);
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      /* Safari */

      transform: rotate(90deg);
    }

    .nested {
      display: none;
    }

    .active {
      display: block;
    }
  </style>
</head>

<body>
  <div class="top-div">
    <p>Welcome <%= userInfo.displayName %> (<%= userInfo.username %>)</p>
    <form action="/account/logout" method="post">
      <button type="submit">Logout</button>
    </form>
  </div>

  <h2>Territories</h2>
  <% if (territories.length === 0) { %>
  <p>There are no territories</p>
  <% } else { %>
  <p>Here is the list of territories</p>
  <%  } %>
  <div id="territories-data" data-object="<%= JSON.stringify(territories) %>"></div>
  <script>
    // Assumption 1: sorted (not necessary though)
    // Assumption 2: every entry should be placed in the list
    // Assumption 3: every entry has a parent in the list(except null)

    // Data send by backend 
    const territoriesData = JSON.parse(document.querySelector("#territories-data").getAttribute("data-object"));
    // DOM element containing the territory tree to be appended to body
    const territoryTree = $("<div>");
    // object containing ids in a tree structure
    const tree = createObjectTree();
    // Used in populateElementTree to avoid adding nested class to first li
    let depth = -1;

    populateElementTree(territoryTree, tree);
    
    // Returns an object of ids with tree-like structure
    function createObjectTree() {
      // tree key => id; [] => list of child ids
      const tree = {
        null: []
      };
      for (const element of territoriesData) {
        const parentIndex = territoriesData.findIndex(({id}) => id === element.parent);
        // With the assumptions in mind, the only time where parent is missing from the territoriesData is when parent is null
        const parentId = territoriesData[parentIndex]?.id ?? "null";
        const parentChildrenList = getParent(tree, parentId);

        const currentObject = {
          [element.id]: []
        };
        // If Assumption 1, parentChildren will never be null (provided tree has the null key initially)
        parentChildrenList.push(currentObject);
      }

      return tree;
    }

    // Returns the parent object value if present; null otherwise
    function getParent(object, id) {
      for (const key in object) {
        if (key === id) {
          return object[key];
        }
        // If list is not empty, navigate through it as well
        if (Array.isArray(object[key]) && object[key].length > 0)
          for (const childObject of object[key]) {
            // Store the result, if not found, try other elements
            const result = getParent(childObject, id);
            if (result) return result;
          }
      }
    }

    // Create DOM elements from territory tree
    function populateElementTree(elementTree, objectTree) {
      ++depth;
      // Assumption 1: There is only one object entry
      const [id, children] = Object.entries(objectTree)[0];
      const name = getIdName(id);

      // ul surrounds potential children
      const ul = $("<ul>");

      // Create li for surrounding potential span and ul
      const li = $("<li>");

      // Don't name root element, but assign its ul an id
      if (depth === 0) {
        ul.attr("id", "root-ul");
      }
      // Create span showing the title if there is at least one child
      else if (children.length > 0) {
        const spanTitle = $("<span>");
        spanTitle.text(name);
        spanTitle.addClass("caret");
        li.append(spanTitle);
      }
      // Only add a text content if the current element doesn't have a child
      else {
        li.text(name);
      }

      ul.append(li);
      elementTree.append(ul);

      // Iterate over the object children recursively
      for (const child of children) {
        populateElementTree(li, child);
      }
    }

    // Returns a valid name from territory id
    function getIdName(territoryId) {
      if (territoryId === "null") return "null";
      output = territoriesData.find(({id}) => id === territoryId);
      return output.name;
    }

    // Initialize dom element visualization
    function initializeElements() {
      // Initialize togglers (span with caret class)
      const toggler = [...document.querySelectorAll(".caret")];
      toggler.forEach((element) =>
        element.addEventListener("click", (e) => {
          // using :scope > .nested ensures only the direct children get activated
          [...e.target.parentElement.querySelectorAll(":scope > ul")].forEach(
            (element) => element.classList.toggle("active")
          );
          e.target.classList.toggle("caret-down");
        })
      );

      // Initialize every ul
      // Select the closest uls from root, make them always visible
      const rootDirectChildrenUls = [...document.querySelectorAll("#root-ul > li > ul")];
      rootDirectChildrenUls.forEach((element) => element.classList.add("visible-ul"));

      // Select every child ul that is supposed to be hidden by default
      const childUls = [...document.querySelectorAll("ul:not(#root-ul, .visible-ul)")];
      childUls.forEach((element) => element.classList.add("nested"));
    }

    // This order is important, make sure to finalize the territoryTree before initializing the elements
    $("body").append(territoryTree);

    initializeElements();
  </script>
</body>

</html>