<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <form action="/account/login" method="post">
    <p>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required autocomplete="off">
    </p>
    <p>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </p>
    <p>
      <button type="submit">button</button>
    </p>
  </form>

  <div class="error-flash">
    <p>
      <%= message %>
    </p>
  </div>
</body>

</html>